<div class="container">
  <div class="col-md-10 col-md-offset-1 marge">

    <h1 align="center" class="heads pad-bot" style="color: #66a422">Congratulations on creating a host profile!</h1>

    <div class="green-border">
        <%= image_tag ('https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/greg_thankyou.jpg'), class: 'img-responsive' %>
    </div>
        <h3 align="center" class="pad-top-sm pad-bot-sm">Thanks for signing up as a host. Please continue by creating or updating your experience.</h3>
        <!-- <p class="text-justify">  </p> -->

    <div align="center" class="pad-bot pad-top-sm">
        <% if !current_host.experiences.present? %>
        <%= link_to "Create Your Experience", new_experience_path, class: "btn btn-sm success-cont btn-rj"%>
        <% else %>
        <%= link_to "Update Your Experience", edit_experience_path(current_host.experiences.first), class: "btn btn-sm success-cont btn-rj" %>
        <% end %>
    </div>

  </div>
</div>