<h1>Host Success Page!!!!</h1>


<% if !current_host.experiences.present? %>
	<%= link_to "Create Your Meal Profile", new_experience_path %>
<% else %>
	<%= link_to "Update Your Meal Profile", edit_experience_path(current_host.experiences.first) %>
<% end %>