<h1>Meal Profile Success Page!!!!</h1>

<!-- Some text here about how they have to wait for approval -->

<%= link_to "Go to your profile ", current_host %>

<%= link_to "Go to your Meal Profile ", experience_path(current_host.experiences.first) %>