<!-- <head>
 <link href="css/bootstrap.css" rel="stylesheet">
 <link href="css/agency.css" rel="stylesheet">
</head> -->

<header>
  <div id="home" style="margin-top: -50px">
    <div class="container">
  	  <div class="intro-text">
        <div class="intro-lead-in">Welcome to..</div>
        <div class="intro-heading">Project NASI</div>
        <a href="experiences#index" class="page-scroll btn btn-xl">Browse Experiences</a>
      </div>
    </div>
  </div>

    <div class="col-sm-7" style="border-right: thin solid #666666">
      <h2> About Project NASI </h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non porta sapien. Donec pulvinar pretium dolor a bibendum. Vivamus id nunc bibendum nibh suscipit porttitor at in erat. Nulla vestibulum tempor dolor, nec bibendum purus vestibulum ut.   <%= link_to "...Learn more", how_it_works_path %></p>
    </div>

    <div class="col-sm-5">
    <h3> You can be a host too! </h3>
      <p> Ut blandit tincidunt elit. Vestibulum dolor nibh, tincidunt nec ultricies sed, dignissim vel enim. Nulla vitae nulla a velit tincidunt elementum.</p>
      <p><%= link_to "Be a Host", how_to_be_a_host_path %></p>

    </div>


</header>

<div style="clear:both;"></div>

