<h1>How to be a host</h1>
<p>*Insert "lorem ipsum dolor si amet..." Here*</p>

<% unless current_host %>
	<p><%= link_to "Sign up as a host", new_host_registration_path %> | <%= link_to "Sign in as a host", new_host_session_path %></p>  
<% end %>



