<body id="guest">
<h1>How it works</h1>
<h4>Become either a</h4> 
<div>
    <a href="http://localhost:3000/how_it_works#guest"><h2 class="guesthost">Guest</h2></a>
	<h3 class="or"> or </h3>
	<a href="http://localhost:3000/how_to_be_a_host"><h2 class="guesthost">Host</h2></a>
</div>
<h4>Then log in</h4>
<a name="guest">
After you've made a profile, click on the find a host link on the navigation bar
</a>
((insert image))
This will display a list of all the experiences to be had,