<div class="container-fluid">


  
          <div class="container" style="margin-bottom:50px">
            <div class="col-sm-6 col-sm-offset-3" style="text-align:center; background-color: #ffffff; border: 2px solid; border-radius: 25px; border-color: #000000; height:350px">
                <h1 style="color:#000">How it Works</h1>
              <div>
                 <p>Meet the Danes is a concept invented in 2001 by Anett Wæber from Copenhagen. The concept, which has become well known outside Denmark, is based on the idea that the local hosts welcome tourists, guests or expats into their homes and spend approx. 3 hours with them over a home cooked dinner. Many foreigners are interested in our daily lives, the educational system, the health system, our hobbies etc. Meet the Danes is an opportunity for both hosts and guests to meet and learn more about other people’s way of living. Contact between hosts and guests is matched by MeettheDanes.dk – the original Meet the Danes concept.
                </p>
                <p style="font-size: 30px;"><strong>Be a </strong>  </p>
                <a href="/guests/sign_up"><h2 class="page-scroll btn btn-xl">Guest</h2></a> OR
                <a href="/how_to_be_a_host"><h2 class="page-scroll btn btn-xl">Host</h2></a>
              </div>
            </div>
          </div>

      
        
           
        

  <div style="clear:both;"></div>

  </div>

 

