
<!-- Page content -->

<div class="container-fluid" id="guest" class = "margin-bottom-60 ">
  </br>
  </br>
  <div class="container-fluid" style="margin-bottom: -30px">
    <div class="row">
      <div class="col-md-12" style="text-align:center; background-color: #ffffff;">
        <h1 class="heads text-center" style="color:#66a422; font-size:70px;">How to be a host</h1>
        <p class="para text-center" style="padding: 50px; margin-bottom: 0px;" >
          <%= StaticText.find(2).content.html_safe %>
        </p>
      </div>
    </div> 
  </div>
    <%if @static_text.video_url.present?%>
    <div class = "container-fluid">
      <div class="row" id="menuframe" style = "margin-bottom: 25px;">
        <div class = "col-md-12" style= "margin-bottom: 40px;"> 
            <h1 style = "margin-top: 0px; color: #66a422;", class = "heads text-center">VIDEO PRESENTATION</h1>
            <div class = "inner_video">
              <embed width="600" height="315" src=<%= "#{@static_text.video_url}"%> style="max-width: 600px; width: 95%;">
            </div>
        </div>
      </div>
    </div>
    <% end %>
    <div style="clear:both;"></div>
</div>
  <div class="row" style="background: url('assets/open_sandwich.jpg') 10px -500px;">
      <div style="text-align:center; min-height: 300px;   color: #fff;">
            <p class="heads" style="padding: 60px; text-transform: uppercase; font-size:70px; color:#fff;"></p>
            <% unless current_host %>
                <%= link_to "Sign up as a host", new_host_registration_path, class: "btn btn-xl", style: "background-color:#66a422; border: #66a422; font-size: 15px; padding: 15px 30px; color: #fff"%>
               <span class="span-or">OR</span>
                <%= link_to "Sign in as a host", new_host_session_path, class: "btn btn-xl", style: "background-color:#66a422; border: #66a422; font-size: 15px; padding: 15px 30px; color: #fff"%>
            <% end %>
            <p class="heads" style="padding: 60px; text-transform: uppercase; font-size:70px; color:#fff;"></p>
      </div>
  </div>

<div style="clear:both;"></div>

