<h1>How to be a host</h1></br>

<p> ***Insert text about why people should sign up to become hosts*** <p>

<p><%= link_to "Sign up to be a host", new_host_registration_path %></p>  
<p><%= link_to "Sign in if you've already registered", new_host_session_path %></p>  


<p><%= link_to "Log out", destroy_host_session_path, method: :delete %></p>  


