<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="text-align:center; background-color: #ffffff;">
      <h1 class="heads text-center" style="color:#66a422; font-size:70px;">How it Works</h1>
      <p class="para text-center" style="padding: 50px;" >
<!--         This is the static text for how it works. the first one we put in -->
        <%= StaticText.find(1).content.html_safe %>
      </p>
    </div>
  </div> 
  <div style="clear:both;"></div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="text-align:center; background-color: #f3f3f3;">
      <h1 class="heads text-center" style="color:#66a422; font-size:70px;">The process</h1>
      <p class="para text-center" style="padding: 20px;" ></p>
      <div class="process">
        <div class="process-row">
          <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-user fa-3x"></i></button>
            <h4> 1</h4>
            <p>Find a host you're interested in</p>
          </div>
          <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-sign-in fa-3x"></i></button>
            <h4> 2</h4>
            <p>Sign up to create a guest account</p>
          </div>
          <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-calendar fa-3x"></i></button>
            <h4> 3</h4>
            <p>Suggest a date </br> for your visit</p>
          </div>
          <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-weixin fa-3x"></i></button>
            <h4> 4</h4>
            <p>Chat to fine-tune the details</p>
          </div>
          <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-credit-card fa-3x"></i></button>
            <h4> 5</h4>
            <p>Pay to Confirm</p>
          </div> 
          <div class="process-step">
            <button type="button" class="btn btn-success btn-circle" disabled="disabled"><i class="fa fa-thumbs-up fa-3x"></i></button>
            <h4> 6</h4>
            <p>Have fun Meeting the Danes!</p>
          </div> 
        </div>
      </div>
      </p>
    </div>
  </div> 
</div>

<div class="row" style="background: url('assets/open_sandwich.jpg') 10px -500px;">
    <div style="text-align:center; min-height: 300px;   color: #fff;">
          <p class="heads" style="padding: 60px; text-transform: uppercase; font-size:70px; color:#fff;">Become a </p>
            <a href="/guests/sign_up"><h2 class="btn green-btn" style="color: #fff; text-transform: uppercase;font-size: 15px; padding-left: 30px !important;
  padding-right: 50px !important;">Guest</h2></a> OR
            <a href="/how_to_be_a_host"><h2 class="btn green-btn" style="color: #fff; text-transform: uppercase;font-size: 15px;   padding-left: 30px !important;
  padding-right: 50px !important;" >Host</h2></a>
    </div>
</div>

 

