<body id="guest">
  <div class="container">
    <h1>StaticPages#how_it_works</h1>
    <p>Find me in app/views/static_pages/how_it_works.html.erb</p>

        <h1>How it works</h1>
        <h4>Become either a</h4> 
        <div>
            <a href="/how_it_works#guest"><h2 class="guesthost">Guest</h2></a>
        	<h3 class="or"> or </h3>
        	<a href="/how_to_be_a_host"><h2 class="guesthost">Host</h2></a>
        </div>
        <h4>Then log in</h4>
        <a name="guest">
        After you've made a profile, click on the find a host link on the navigation bar
        </a>
        ((insert image))
        This will display a list of all the experiences to be had,
  </div>
</body>

<div style="clear:both;"></div>
