<div class="container-fluid" id="guest">


        <body id="guest">
        </br>
        </br>
          <div class="container" style="margin-bottom:50px">
          <!--   <p>Find me in app/views/static_pages/how_it_works.html.erb</p>
         -->
            <div class="col-sm-6 col-md-offset-3" style="text-align:center; background-color: #ffffff
        ; border: 2px solid; border-radius: 25px; border-color: #000000; height:350px">
                <h1 style="color:#000">How it Works</h1>
        <!--         <h4 style="color:#000">Become a</h4> 
         -->    
                <div>

                    <a href="/guests/sign_up"><h2 class="page-scroll btn btn-xl">Guest</h2></a> OR
        <!--         	<h4 class="or"> or </h4>
         -->            <a href="/how_to_be_a_host"><h2 class="page-scroll btn btn-xl">Host</h2></a>
                	<!-- <a href="/how_to_be_a_host"><h2 class="guesthost">Host</h2></a> trying out a different button -->
                </div>
                <h4>Then log in</h4>
               <!--  <p name="guest" style="text-align: center">
                After you've made a profile, click on the find a host link on the navigation bar
                </p> -->
                <!-- ((insert image))

                This will display a list of all the experiences to be had, -->
            </div>
          </div>

        </body>

        <!-- <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet pulvinar libero, et rhoncus ante. Integer semper massa in massa ornare auctor. Curabitur vel augue quis lectus vestibulum malesuada. Nam elementum placerat lacinia. Duis sit amet risus hendrerit libero suscipit convallis eu nec orci. Sed tellus massa, auctor et lobortis ac, accumsan sit amet nisl. Phasellus blandit sapien vel convallis pulvinar. Suspendisse ultrices scelerisque maximus. Etiam iaculis elementum justo, ac ullamcorper velit molestie sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus blandit nunc vitae magna rhoncus pulvinar. Aliquam erat volutpat.


            </p>
        </div> -->

<div style="clear:both;"></div>

</div>
