<div class="container">
  <div class="col-md-10 col-md-offset-1 marge">

    <h1 align="center" class="pad-bot">Thank you for Signing up for our Newsletter!</h1>

    <div class="green-border">
        <%= image_tag ('https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/greg_thankyou.jpg'), class: 'img-responsive' %>
    </div>
        <h3 align="center" class="pad-top-sm pad-bot-sm">Please check your email in a few minutes to confirm your subscription.</h3>
        <!-- <p class="text-justify"> </p> -->

    <div align="center" class="pad-bot pad-top-sm">
        <%= link_to "Back to Homepage", root_path, class: "btn btn-sm success-cont btn-rj" %>
    </div>

  </div>
</div>