<!-- Some text here about how they have to wait for approval -->
<div class="container">
  <div class="col-md-10 col-md-offset-1 marge">

    <h1 align="center" class="heads pad-bot" style="color: #66a422">Thank you for completing payment!</h1>

    <div class="green-border">
        <%= image_tag ('https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/greg_thankyou.jpg'), class: 'img-responsive' %>
    </div>
        <h3 align="center" class="pad-top-sm pad-bot-sm">You will receive an email with more information about your host.</h3>
        <!-- <p class="text-justify"> </p> -->

    <div align="center" class="pad-bot pad-top-sm">
        <%= link_to "Back to Profile", current_guest, class: "btn btn-sm success-cont btn-rj" %> 
        <!-- Change to link to user profile path -->
        <%= link_to "Back to Homepage", root_path, class: "btn btn-sm success-cont btn-rj" %>
    </div>

  </div>
</div>