<div class="container pad-top pad-bot" id="post-index">
  <div class="row">
    <div class="col-md-12">
      <h1 class="heads" style="text-align: center; color:#66a422; font-size:70px;"> Press</h1>
     </div>  
  </div> 

  <div class="row">
      <div class="col-md-12"><%= link_to "Create New Post", new_post_path(post_type: "press"), class: "blue btn btn-primary btn-xl pull-right marge-bot" if admin_signed_in? %>
      </div>
  </div>



  <div class="row" align="center">
    <% @posts.each do |post| %>
  	<div class="col-md-4 col-xs-12" id="post-card">
      <%= content_tag :h3,  link_to(truncate(post.title, length: 24), post), class:'title' %>
        <%= image_tag post.images.first.image_file.url(:blogthumb), style: "border-radius:5%", class: "resize-small-pic" if post.images.present? %> 
      <p><%= content_tag :p, post.created_at.strftime("%B %d, %Y") %></p>
  	</div>
    <% end %>
  </div>
</div>
