<h2 id="header_text" class="heads pad-top pad-bot" style="text-align: center; color:#66a422; font-size:70px;"> PRESS</h2>

<div class="col-md-8 col-md-offset-2" id="press-content">
<p>Meet the Danes Home Hosted Dinner program has become a big success and both journalists and guests from around the world who have participated in this special event consider it one of the most wonderful and interesting experiences they have had in Scandinavia.</p>

<p>In November 2002 Meet The Danes received “The Silver Otter Award from the British Guild of Travel Writers” – Best Overseas Tourism Project for our concept. In February 2004 we received the national Award – Best Initiative 2003 from “The Danish Tourism Council”.</p>

<p>Meet the Danes has been in many television programs around the world. Recently in BBC Food.</p>

</div>