<div class="container">
    <div class="row" style="margin-bottom:70px">
       <h2 style="text-align:center">Thanks for signing up, <%= current_guest.username %></br>Please complete your guest profile</h2>

        <%= render 'form' %>
              
  </div>
</div>

