
<div class="col-md-4 col-sm-6">  
  <div class="thumbnail" style = "margin-bottom:15px">
    <div class="caption" style="background-color: #f3f3f3; height: 100%; padding: 20px;">
      <div id="avataro">
        <%= link_to image_tag(partner.images.first.image_file.url(:thumb), class: "img-circle"), partner if partner.images.present? %>
      </div>
      <h3 class="host_name" style="margin-top: 5px;"><%= link_to partner.username,  partner_path(partner) %></h3> 
      <label> Address: </label> <span><%= partner.address %></span><br>
       <label> Contact Info: </label> <span><%= partner.contact_info %></span>
    </div>
  </div>
</div>