

<div class = "container-fluid pad-top">
	<div class ="row pad-bot">
		<div class="col-md-12">
			<h1 class="heads text-center pad-bot" style="color:#66a422; font-size:70px;">Our Partners</h1>
      <p align="center"> Meet the Danes welcomes both International and National partners. If you wish to cooperate with Meet The Danes, please contact <a href="mailto:info@meetthedanes.dk">info@meetthedanes.dk</a></p>
		</div>
	</div>
	<%= content_tag :div, render(@partners), class:'row', id:'view' %>
</div>
