<div id="holiday_calendar">
  <div class="" id="datepick"></div>
  <div id='showdates'>show all selected dates</div>
  <h6 id='lastdate'></h6>

  <%= form_for :holiday, remote:true do |f| %>
    <%= f.hidden_field :dates %>
    <%= f.submit 'Set Holiday'%>
  <% end %>
</div>

<script>
$(function(){
  $.fn.datepicker.defaults.format = "yyyy-mm-dd";
  $('#datepick').datepicker({
    format: "yyyy-mm-dd",
    // endDate: "12/31/2015",
    // todayBtn: "linked",
    multidate: true,
    multidateSeparator: ";",
    todayHighlight: true,
    datesDisabled: <%= raw(@host.holidays_list) %>
  }).on('click', function(e){

    showDates($('#datepick').datepicker('getDates'));
  });

  $('#showdates').on('click', 'li', function(e){ //remove item from <li>
    nonformatted = formatting($('#datepick').datepicker('getDates'));
    nonformatted.splice(nonformatted.indexOf($(this).text()), 1);
    $('#datepick').datepicker('setDates', nonformatted);

    showDates($('#datepick').datepicker('getDates'));
  });

  function showDates(dates){
    nonformatted = formatting(dates);
    show = formatting(dates, '<li>', '</li>');
    $('#showdates').html(show);
    $('#holiday_dates').val(nonformatted);
  }

  function formatting(dates, open_tag, close_tag){
    if(open_tag === undefined || close_tag === undefined){
      open_tag = '';
      close_tag = '';
    }

    formatted = new Array(dates.length);
    for(i=0; i<dates.length; i++){
      var temp = new Date(dates[i].toLocaleString());

      formatted[i] = open_tag + temp.getFullYear() + "-"
                      + ("0"+ (temp.getMonth()+1)).slice(-2) + "-"
                      + ("0"+ temp.getDate()).slice(-2) + close_tag;
    };
    return formatted.sort();
  };

});
</script>
