<p id="notice"><%= notice %></p>


<h1>Listing Hosts</h1>
<div class="container">
  <% if current_admin %>

    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @hosts.each do |host| %>
          <tr>
            <td> <%= host.username %> </td>
            <td> <%= host.email %></td>
            <td> <%= link_to 'Show', host %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <br>
</div>
