<div class="container" style="margin-top:50px">

<% if @authentications && current_user %>
 <% unless @authentications.empty? %>
  <p><strong>You can sign in to this account using:</strong></p>
   <div class="authentications">
    <% for authentication in @authentications %>
     <div class="authentication">
      <div class="provider"><%= authentication.provider.titleize %>
        <span class="uid"><%= authentication.uid %></span>
        <%= link_to "X", authentication_path(authentication), method: :delete,
         data:{ confirm: 'Are you sure?'} %>
      </div>
     </div>
     <% end %>
     <div class="clear"></div>
    </div>
   <% end %>
   <p><strong>Add another service to sign in with:</strong></p>
  <% else %>
  <p><strong>Sign in through one of these services:</strong></p>
<% end %>

<a href="guests/auth/facebook" class="auth_provider">Facebook</a>
<div class="clear"></div>

</div>
