<div class= "container text-center">
	<h1 class="heads-lt"> Your Notifications</h1>
		<table class = "table table-striped">
      <thead>
      	<tr>
      		<th>Date</th>
      		<th>Message</th>
      	<tr>
      </thead>
      <tbody>
      	<% @notifications.each do |notification| %>
      		<tr class = "text-left">
      			<td><%= notification.updated_at.to_time.strftime('%A, %b %d') %> at <%= notification.updated_at.to_time.strftime('%I:%M:%S %p') %></td>
      			<td><%= link_to notification.content, booking_path(notification.type_id) %></td>

      	<% end %>
      </tbody>
      </thead>
     </table>
</div>