<p>Welcome <%= @email %>!</p>

<p> You have made the excellent choice of registering as a host at Meet the Danes! </p>

<p> <strong> you will be able to create experiences soon pending approval from the admin </strong></p>

<p> You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
