<p>Welcome <%= @email %>!</p>

<p> You have made the excellent choice of registering as a host at Meet the Danes! </p>

<p> Once you've confirmed your account, you'll be ask to fill out your personal profile and create an experience. Please do this as thoroughly as possible.</p>

<p> <strong> You and your experience will be featured on site only after Meet the Danes approve them. You will be notified of approval or rejection via email. </strong></p>

<p> You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
