<div class="container">
  <h1>New Experience</h1></br>

  <%= render 'form' %>

<!--   <div class="container">
  <%= link_to 'Back', experiences_path %>
  </div> -->
</div>

// <script type="text/javascript">
//   $(function(){
//   	var error_text = 'Please upload 3 exeprience images.';
//   	var input_file = $('#showfilename')
//     $('form').submit(function(event){
//       if( input_file.val() == "" || input_file.val() == error_text){
//         event.preventDefault();
//         input_file.val(error_text).attr('style', 'color:red');
//         $('input[type*=submit]').prop('disabled', true);
//       }

//     });
//   });
// </script>
