<div class="container">
  <div class="container">
  <h1>New Experience</h1></br>
  </div>

  <%= render 'form' %>

<!--   <div class="container">
  <%= link_to 'Back', experiences_path %>
  </div> -->
</div>