<div class="container">
	<% if @host.approved == false%>
  	<h1 class="heads text-center" style="color:#66a422; font-size:70px;">Create Meal Profile</h1></br>
  	<div class="row">
    	<p align="center" class="pad-bot">Please fill out your meal profile.</p>
  	</div>
  <% else %>
  	<h1 class="heads text-center" style="color:#66a422; font-size:70px;">Create New Host Party</h1></br>
  	<div class="row">
    	<p align="center" class="pad-bot">Please fill out the details about the party you'll be hosting.</p>
  	</div>
  <% end %>
  
  <%= render 'form' %>
</div>

