<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @guest.username %>! </h1>
    <p>
      Enjoy yourself today?

      At Meet the Danes, we not only care about your gastronomical pleasure but also your happiness, so please leave a testimonial at the <%= link_to 'Meet The Danes' , make_testimonial_url(@booking)%>

      Alternatively, you can also leave a review at <%= link_to 'Facebook' , "www.facebook.com/meetdanes" %> or at <%= link_to 'TripAdvisor' , "www.tripadvisor.com " %> 

    </p>
    <p>Thanks for using Meet The Danes and have a great day!</p>

  </body>
</html>