<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @guest.name %>! </h1>
    <p>
      Its obvious you enjoyed yourself, so why not give a testimonial to tell people about it?
    </p>
    <p>Thanks for using Project Nasi and have a great day!</p>
  </body>
</html>