<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have mail <%= @guest.username %>! </h1>
    <p>
      Worried your host was a fictional creation produced from the fumes of Carbon Monoxide? Worry not!  
      For you have a new message regarding the <%= @booking.experience.title %>
    </p>
    <p>
      Go verify his/her existence at <%= link_to 'Meet The Danes' , new_guest_session_url %>
    </p>
    <p>Thanks for using Meet The Danes  and have a great day!</p>
  </body>
</html>