<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have mail <%= @guest.username %>! </h1>
    <p>
      Worried your host was a fictional creation produced from the fumes of overconsumption of beer? (or goat meat if you're muslim) Worry not!  
      For you have a new message regarding the <%= @booking.experience.title %>
    </p>
    <p>
      go check it out at <%= link_to 'The Nasi Project' , new_guest_session_url %>
    </p>
    <p>Thanks for using Project Nasi and have a great day!</p>
  </body>
</html>