<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @host.first_name %> <%= @host.last_name %> has canceled your booking </h1>
    <p>
        We're sorry but <%= @host.first_name %> <%= @host.last_name %> has had to cancel his/her event with you. 
    </p>
  </body>
</html>