<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have made a payment <%= @guest.username %></h1>
    <p>
      Does your wallet seem light today? Its because you just made a payment for the <%= @booking.experience.title %>
      Thank you for greasing the wheels of Capitalism
    </p>
    <p>
      Go check your purchase with feelings of excitement/regret at <%= link_to 'The Nasi Project', new_guest_session_url %> 
    </p>
    <p>Thanks for using Project Nasi and have a great day!</p>
  </body>
</html>