<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have made a payment <%= @guest.name %></h1>
    <p>
      Does your wallet seem light today? Its because you just made a payment!
    </p>
    <p>Thanks for using Project Nasi and have a great day!</p>
  </body>
</html>