<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received an invitation <%= @guest.name %></h1>
    <p>
      You're really popular! You have recieved an invitation
    </p>
    <p>Thanks for using Project Nasi and have a great day!</p>
  </body>
</html>