<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @guest.username %></h1>
    <p>
     They said yes. They actually said yes! Your booking status for <strong><%= @booking.experience.title%></strong> has been changed to  <strong><%= @booking.status %></strong>
    </p>

    <p> Studies show that just anticipating an event increases your happiness, Build your anticipation and increase your happiness free of charge by looking at the experience again, just go back to <%= link_to 'Meet The Danes',show_experience_url(@booking.experience) %> </p>

    
    
    <p>Thanks for using Meet The Danes and have a great day!</p>
  </body>
</html>