<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @guest.username %></h1>
    <p>
     The host <%= @host.first_name %> <%= @host.last_name %> has accepted your request for booking! Please complete payment at <%= link_to 'Meet the Danes',experience_booking_url(@booking.experience, @booking)%> to confirm the booking and receive the host's address and other details regarding your dinner.
    
    </p>

    <p> Thousands of visitors have met our hosting families and got a very personal, unique and unforgettable event. Now it’s your turn!</p>
    
    <p>Thank you for using Meet the Danes. We wish you a great event.

</p>

  </body>
</html>