<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @guest.username %></h1>
    <p>
    Sadly the host can't accommodate you on your chosen date. Your booking status for <strong><%= @booking.experience.title%></strong> has been changed to  <strong><%= @booking.status %></strong>
    </p>


    <p> You can try to book again at a different date - or find another host.  Just go back to <%= link_to 'Meet the Danes',show_experience_url(@booking.experience) %> </p>

    
    <p>Kind regards </p>
    <p>Meet The Danes</p>
  </body>
</html>