<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @guest.username %></h1>
    <p>
    Sadly the host can't accommodate you on that date. Your booking status for <strong><%= @booking.experience.title%></strong> has been changed to  <strong><%= @booking.status %></strong>
    </p>

    <p> You can try booking again at a later date or find another host. Just go back to <%= link_to 'The Nasi Project',show_experience_url(@booking.experience) %> </p>
    
    <p>Have a great day!</p>
  </body>
</html>