<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A Message From Meet The Danes </h1>
    <p>
     <%= @body %>   
    </p>

    <p>
      Get more information about your host at <%= link_to 'his profile' , host_url(@host) %>
    </p>
   

  </body>
</html>