<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A host has completed an event </h1>

    <p>
    <%= @host.first_name %> <%= @host.last_name %> has completed his/her event with <%= @guest.username %>
    </p>

   
   

  </body>
</html>