<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A guest has canceled a booking </h1>
    <p>
        <%= @guest.username %> has canceled his/her booking with <%= @host.first_name %> <%= @host.last_name %>
    </p>
  </body>
</html>