/*
 *= require_self
 *= require_tree .
 */

/* *= require bootstrap-wysihtml5 */

@import "bootstrap-sprockets";
@import "bootstrap";
/* @import "font-awesome"; */
@import "hosts";
/* @import "agency"; */
@import "bookings";
@import "experiences";
@import "custom";
@import "scaffolds";
@import "static_pages";

@import url('//fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('//fonts.googleapis.com/css?family=Lato:400,700');

$headline: 'Amatic SC', cursive;
$paragraph: 'Helvetica';
$navi-slide: 'Lato', sans-serif;
$green_text: darkGreen;

/*//Import any stylesheets we need
*/
#social:hover {
          -webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
      }
      #social {
        -webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
      }

      .social-fb:hover {
        color: #3B5998;
      }
      .social-tw:hover {
        color: #4099FF;
      }
      .social-gp:hover {
        color: #d34836;
      }
      .social-em:hover {
        color: #f39c12;
      }

body {
  background-color: #ffffff;
}

body .container{
  min-height: 500px;

  h3.title {
  	font-family: $headline;
  	font-size: 38px;
  	color: $green_text;
  	font-weight: bold;
  	margin-top: 10px;
  	margin-bottom: 10px;
  }
}

/* footer */

footer {
  clear:both;
  position: relative;
  margin-top: 0px;
  padding-top: 30px;
  background: #434341;

  color: #fff;
  text-align: center;
  font-family: $paragraph;

  a {
    color:inherit;
    font-family: inherit;
    font-size: 16px;
  }
  a:hover {
    color:inherit;
  }
  a:visited {
    color: inherit;
  }

  ul {
    list-style: none;
    float: none;
    margin: 0;
  }

  .foot-sect {
    padding-left: 30px;
  }

  p {
    font-family: inherit;
    font-size: 16px;
    color: inherit;
  }

  div.link-sect {
    width:50%;
    line-height:30px;
  }

}

#home {
/*  background-image: url("/assets/nasi_head_placeholder.jpg");
*/  background-size: 100% 95%;
/*  background-image: url("/assets/nasi_head_placeholder.jpg");
*/  background-repeat: no-repeat;
    color: #ffffff;
}

#host {
/*  background-image: url("/assets/thai_stirfry.jpg");
*/  background-size: 100% 100%;
/*  background-image: url("/assets/thai_stirfry.jpg");
*/  background-repeat: no-repeat;
    color: #ffffff;
}

#guest {
/*  background-image: url("/assets/food-collection-gray.png");
*/  background-size: 100% 100%;
/*    background-image: url("/assets/food-collection-gray.png");
*/  background-repeat: no-repeat;
    color: #ffffff;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.no-padding {
  padding: 0;
}

 table *{
 	padding-left:10px;
 	padding-right:10px;
 }

/*
Image carousel CSS Stuff starts here*/

#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 880px) {
    #quote-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 880px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/* stops textareas from resizing */

textarea { resize: none; }

/**
Footer Social buttons
**/

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color:#1A1A1A;

  -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {

    /* background-color: #1A1A1A; */

}

ul.social-buttons li a:disabled{
    color: lightgrey;
}


/**
Home btn-xl
**/
.btn-xl {
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #777777;
}


.btn-success {
  color: #fff;
  background-color: #66a422 !important;
  border-color: #4cae4c !important;
}
