@import "bootstrap-sprockets";
@import "bootstrap";

/* footer */

footer {

  margin-top: 0px;
 /* padding-top: 5px;
  border-top: 1px solid #eaeaea;*/

  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
  background-color: #A0A0A0;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;

}

#rembor {
  border-color:#fff;
}

#menutab {
   table-layout: fixed;

}

.alert-purple { border-color: #694D9F;background: #694D9F;color: #fff; opacity: 1;}
.alert-info-alt { border-color: #B4E1E4;background: #81c7e1;color: #fff; }
.alert-danger-alt { border-color: #B63E5A;background: #E26868;color: #fff; }
.alert-warning-alt { border-color: #F3F3EB;background: #E9CEAC;color: #fff; }
.alert-success-alt { border-color: #19B99A;background: #20A286;color: #fff; }
.glyphicon { margin-right:10px; }
.alert a {color: gold;}

.navbar-left { margin-top:10px}

.navbar-right { 
  margin-top:10px;
}