@import url('//fonts.googleapis.com/css?family=Lato:400,900');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

$headline: 'Amatic SC', cursive;
$paragraph: 'Helvetica';
$navi-slide: 'Lato', sans-serif;
$green_text: darkGreen;

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  text-align:center;
  background-color: #ffffff;
  border: 2px solid;
  border-radius: 25px;
  border-color: #000000;
}

    body {
    padding: 60px 0px;
  }
  .animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .info-card {
    width: 400px;
   /* height: 375px;*/
    border: 2px solid #000;
    position: relative;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 1%;

  }
  .info-card > img {
    width: 100px;
    margin-bottom: 60px;
  }
  .info-card .info-card-details,
  .info-card .info-card-details {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    padding: 0 15px;
    background: rgb(255, 255, 255);
    text-align: left;
  }

  .info-card-header  {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    padding: 0 15px;
    background: rgb(255, 255, 255);
    text-align: center;
  }
  .info-card .info-card-details::-webkit-scrollbar {
    width: 8px;
  }
  .info-card .info-card-details::-webkit-scrollbar-button {
    width: 8px;
    height: 0px;
  }
  .info-card .info-card-details::-webkit-scrollbar-track {
    background: transparent;
  }
  .info-card .info-card-details::-webkit-scrollbar-thumb {
    background: rgb(160, 160, 160);
  }
  .info-card .info-card-details::-webkit-scrollbar-thumb:hover {
    background: rgb(130, 130, 130);
  }

  .info-card .info-card-details .info-card-header {
    height: auto;
    bottom: 100%;
    padding: 10px 5px;
  }
  .info-card:hover .info-card-details {
    bottom: 0px;
    overflow: auto;
    padding-bottom: 25px;
  }
  .info-card:hover .info-card-details .info-card-header {
    position: relative;
    bottom: 0px;
    padding-top: 45px;
    padding-bottom: 25px;
  }
  .info-card .info-card-details .info-card-header h1,
  .info-card .info-card-details .info-card-header h3 {
    color: rgb(62, 62, 62);
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 !important;
    padding: 0 !important;
  }
  .info-card .info-card-details .info-card-header h3 {
    color: rgb(142, 182, 52);
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
  }
  .info-card .info-card-details .info-card-detail .social {
    list-style: none;
    padding: 0px;
    margin-top: 25px;
    text-align: center;
  }
  .info-card .info-card-details .info-card-detail .social a {
    position: relative;
    display: inline-block;
    min-width: 40px;
    padding: 10px 0px;
    margin: 0px 5px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(215, 215, 215);
    border-radius: 40px;
  }

  a.social-icon {
    text-decoration: none !important;
    box-shadow: 0px 0px 1px rgb(51, 51, 51);
    box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
  }
  a.social-icon:hover {
    color: rgb(255, 255, 255) !important;
  }
  a.facebook {
    color: rgb(59, 90, 154) !important;
  }
  a.facebook:hover {
    background-color: rgb(59, 90, 154) !important;
  }
  a.twitter {
    color: rgb(45, 168, 225) !important;
  }
  a.twitter:hover {
    background-color: rgb(45, 168, 225) !important;
  }
  a.github {
    color: rgb(51, 51, 51) !important;
  }
  a.github:hover {
    background-color: rgb(51, 51, 51) !important;
  }
  a.google-plus {
    color: rgb(244, 94, 75) !important;
  }
  a.google-plus:hover {
    background-color: rgb(244, 94, 75) !important;
  }
  a.linkedin {
    color: rgb(1, 116, 179) !important;
  }

  a.linkedin:hover {
    background-color: rgb(1, 116, 179) !important;
  }




html {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100%;
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 0px;
    border: 0px;
}

.thumbnail img {
    width: 100%;
    height: 100% !important;
}

.slice img {
  min-height: 267px;
}

#avataro {
height:85px;
width:85px;
margin-right:10px;
margin-top:10px;
float: right;
    /* border:5px solid #fff; */
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;

}

#mealpanel {
  margin-top: -20px;

  img{
    width: 100%;
    padding: 0px;
  }
}

#hostinfo {
  margin-top: 20px;

  #profilepic {
    text-align: center;
    img {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  h3 {
    font-family: $headline;
    font-weight: bold;
    color: #66a422;
    font-size: 36px;
  }

  h4 {
    font-family: $paragraph;
    font-weight: bold;
    font-size: 24px;
    span {
      font-weight: 400;
      font-size: 16px;
    }
  }

  h5 {
    font-family: $paragraph;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
  }
}

#mealinfo {
  h1 {
    font-family: $headline;
    font-weight: 600;
    color: #66a422;
    font-size: 45px;
    letter-spacing: 1px;
  }

  h2{
    font-family: $headline;
    font-weight: bold;
    color: #66a422;
    font-size: 36px;
  }

  h5 {
    font-family: $paragraph;
    font-weight: bold;
    a {
      color: black;
    }
  }

  label{
    font-family: $paragraph;
    font-size: 18px;
    margin-bottom: 0px;
    color: #424242;
    /* color: $green_text; */
  }



  p, span{
    font-family: $paragraph;
    font-size: 18px;
    letter-spacing: 0px;
    padding-bottom: 25px;
  }
}

.white{
  color:#fff !important;
  padding: 10px;
  font-size: 18px;
}

#mealframe {
  background:#f9f9f9;
  padding-left: 25px;
  p {
    color: #424242;
  }
}

#menuframe  {
  height:400px;
  background-color:#fff;
  padding-left: 25px;
  padding-top: 15px;

}

#menuframe-menu  {
  height:auto;
  background-color:#fff;
  padding-left: 0px;
  border-bottom: 5px solid #66a422;
}

#menutab {
   table-layout: fixed;
   border: 0;
   font-family: $paragraph;
   font-size: 14px;

   th {
    padding-bottom: 0px;
    border: 0;
    font-size: 18px;
    font-weight: 400;
    padding:0px;
    line-height: 12px;
   }
   td {
     padding-top: 0px;
     border: 0;
     font-size: 18px;
     padding:0px;
   }
}

#specframe {
  height:250px;
  background:#f9f9f9;
  padding-left: 3%;
}

#specframe1 {
  height:250px;
  background:#e4e4e4;
  padding-left: 5%;

}

#specframe77 {
  height:auto;
  background-color: #fff !important;
}


#testiframe {
  height:400px;
  background-color:#fff;
  padding-left: 5%;
  padding-bottom: 50px

}

.btn_admins_view {
  color:#fff !important;
  border-color: #eee;
  background-color: #66a422;
  font-size: 14px !important;
  padding: 10px;

}

.btn_admins_edit {
  color:#fff !important;
  border-color: #eee;
  background-color: #22A7F0;
  font-size: 14px !important;
  padding: 10px;

}

.btn_admins_delete {
  background-color: #E74C3C;
  border-color: #eee;
  font-size: 14px !important;
  padding: 10px;

}

#hoststyle_title {
  padding-top: 10px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
}

.exp_cta {
  margin-left: -30px;
}

.smalls {
  font-size: 10px;
}

#titlez {
  text-transform: none;
  font-weight: 500 !important;
  font-family: "Amatic SC", cursive !important;
  text-align: left;
  font-size: 30px !important;
  line-height: 35px !important;
  color: #424242;
}

#xtra-titlez {
  text-transform: none;
  font-weight: 500 !important;
  font-family: "Amatic SC", cursive !important;
  font-size: 30px !important;
  line-height: 35px !important;
  text-align: left;
}

#rowz {
  text-align: left;
  color: #424242;
}

#menu-border {

/*  border-color: #66a422;
  border-width: 5px;
  border-style: solid;*/
}

.labelz {
  font-weight: 600 !important;
}
.border_bottom {
    border-bottom: 5px solid #66a422;
}

.border_top {
  border: solid;
  border-top: 5px solid #66a422;

}