$headline: 'Amatic SC', cursive;
$paragraph: 'Helvetica';
$navi-slide: 'Lato', sans-serif;
$green_text: darkGreen;

#map-canvas {
	width: 100%;
	height: 300px;
	background-color: #999;
}


#card_container {
  /* background-color: #fff; */
  margin-top: 15px;

	p {
		font-family: $paragraph;
		font-size: 16px;
		strong {

		}
	}
}

#host_controls {
	a{
	margin-top: 5px;
	color: white;
	}
}

#avatar_align {
  text-align:center;
  margin-left:0px;

	#btn-cal {
		margin-top: 5px;
	}

}

h3.title {
	font-family: $headline;
	font-size: 38px;
	color: #66a422;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#map {
	margin-top: 15px;
}

#host_events {
padding:50px;
}

#host_specials {
	/* background-color: #fff; */
}

#search_box{
	padding-top: 30px;
	font-weight: bold;
	font-family: $paragraph;

	select {
		border-color: black;
	}

	input[type="text"]{
		border-color: black;
		border-radius: 5px;
	}

	input[type="submit"]{
		border-width: 0px;
	}
}


#holiday_calendar{

	background-color: #eee;
	margin-top: 15px;

	h3{
		font-family: $headline;
		font-size: 38px;
		color: #66a422;
		font-weight: bold;
	}


	div#datepick{
		/* background-color: #fff; */
		.disabled-date {
			background-color: yellow;
			color: black;
		}
		.active.day{
			background-color: red;
			color: white;
		}

		.datepicker-inline {
			margin-left: auto;
			margin-right: auto;
		}
	}

	div#showdates{
		padding-bottom: 20px;

		ul{
			list-style-type:none;
			padding: 0px;

			li{
				i {
					color:red;
				}
			}
		}
	}
}

.host_name {
	font-family: "Amatic SC",cursive;
	font-size: 300%;
	font-weight: bold;
	color: #66A422;
}
