$headline: 'Amatic SC', cursive;
$paragraph: 'Helvetica';
$navi-slide: 'Lato', sans-serif;
$green_text: darkGreen;

#map-canvas {
	width: 100%;
	height: 300px;
	background-color: #999;
}


#card_container {
  /* background-color: #fff; */
  margin-top: 35px;
  font-size: 16px;

	p {
		font-family: $paragraph;
		font-size: 16px;
		letter-spacing: 1px;
  		font-weight: 400;
		strong {
		letter-spacing: 1px;
		}
	}
}

#host_controls {
	a{
	margin-top: 5px;
	color: white;
	}
}

#avatar_align {
  text-align:center;
  margin-left:0px;

	#btn-cal {
		margin-top: 5px;
	}

}

h3.title {
	font-family: $headline;
	font-size: 38px;
	color: #66a422;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#map {
	margin-top: 15px;
}

#host_events {
padding-top: 50px;
padding-bottom: 50px;
padding-left: 0px;
padding-right: 0px;
background-color: #f4f4f4;
margin-top: 20px;
margin-bottom: 20px;
}

#host_specials {
	/* background-color: #fff; */
}

#search_box{
	padding-top: 30px;
	font-weight: 500;
	font-family: "Helvetica";
	color:#000 !important;

	select {
		border-color: black;
	}

	input[type="text"]{
		border-color: black;
		border-radius: 0px;
	}

	input[type="submit"]{
		border-width: 0px;
	}
}

#location-box {
	background-position: right center;
	background-origin: content-box;
	width: 165px;
}
#holiday_calendar{

	background-color: #eee;
	margin-top: 15px;

	h3{
		font-family: $headline;
		font-size: 38px;
		color: #66a422;
		font-weight: bold;
	}


	div#datepick{
		/* background-color: #fff; */
		.disabled-date {
			background-color: yellow;
			color: black;
		}
		.active.day{
			background-color: red;
			color: white;
		}

		.datepicker-inline {
			margin-left: auto;
			margin-right: auto;
		}
	}

	div#showdates{
		padding-bottom: 20px;

		ul{
			list-style-type:none;
			padding: 0px;

			li{
				i {
					color:red;
				}
			}
		}
	}
}

.host_name {
	font-family: "Amatic SC",cursive;
	font-size: 30px;
	font-weight: bold;
	color: #66A422;
}


.btn-profile{
	border: 2px solid #000 !important;
  	border-radius: 0px;
  	background-color: #fff !important;
  	color: #000 !important;
}

.green-btn-host {
	color: white !important;
}

.book-button {
	color:#b4b4b4;
	text-align: right;
	position: absolute;
	bottom: 10px;
	left: 50%;
}