$headline: 'Amatic SC', cursive;
$paragraph: 'Helvetica';
$navi-slide: 'Lato', sans-serif;
$green_text: darkGreen;

.post_content {
  font-size: 16px;
  font-family: $paragraph;
  margin-top: 20px;
}

.new_post {
	color: #fff !important;
	margin-top: 20px;
}

.post_video {
	padding: 0px, 15px;
	height: auto;
	padding-left: 25px;
	padding-top: 15px;
}

#post-show {
  background-color: #EEE;
  margin-top: 40px;
  margin-bottom: 40px;
}

#post-content {
  background-color: #fff;
  border-radius: 1%;
  border: 1px solid #fff;
  padding: 20px;
  text-align: left;
}

#post-index {
/*  background-color: #EEE;
*/  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

#post-card {
  background-color: #F0EAD6;
  margin-bottom: 5px;
  border: 2px solid #EEE;
  border-radius: 1%;
  border-color: #ffffff 
}