// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$headline: 'Amatic SC', cursive;
$paragraph: 'Helvetica';
$navi-slide: 'Lato', sans-serif;
$green_text: darkGreen;

.guesthost {
	font-color: black;
	display: inline;
	background-color: #65A0E6;
	border-radius: 5px;
	padding: 5px;
}

.or {
	display: inline;

}

.label-info {
  background-color: #b4b4b4 !important;
}

body{
  font-size:16px;
}


.img-circle {
  border-radius: 50%;
  border: 5px solid  #fefffe;
  height: 100px;
  width: 100px;
}

.img-profile {
  border-radius: 50%;
  border: 5px solid  #f4f4f4;
  height: 200px;
  width: 200px;
}

.box1{
	background: url("https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/illus-1.jpg") no-repeat bottom;
width: 150px;
height: auto;
background-size: contain;
}

.box3{
	background: url("https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/ilust-3.jpg") no-repeat bottom;
width: 150px;
height: auto;
background-size: contain;
}


.box2{
	background: url("https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/ilust-2.jpg") no-repeat bottom;
	  width: 25%;
	  height: auto;
	  background-size: 200px;
}


#search_box input[type="text"] {
  border-color: black;
  border-radius: 0;
}

#search_box{

	.square_box{
		-webkit-border-radius: 0px !important;
		-moz-border-radius: 0px !important;
		-o-border-radius: 0px !important;
		border-radius: 0px !important;
		-webkit-appearance: none;
	}
}

.select-wrapper{
    border: 1px solid black;
    border-radius: 0px;
}

select.no-radius{
    border:none;
}





/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 60vh;
}
.fade-carousel .carousel-inner .item {
    height: 60vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/


.hero {
    position: absolute;
		background-color:rgba(0,0,0,.3);
		bottom: -48px;
		min-height: 85px;
		width: 200%;
    z-index: 3;
		left:50%;
    /*text-shadow: 2px 2px 0 rgba(0,0,0,.75);*/
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .2s;
       -moz-transition: 2s all ease-in-out .2s;
        -ms-transition: 2s all ease-in-out .2s;
         -o-transition: 2s all ease-in-out .2s;
            transition: 2s all ease-in-out .2s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .2s;
       -moz-transition: 2s all ease-in-out .2s;
        -ms-transition: 2s all ease-in-out .2s;
         -o-transition: 2s all ease-in-out .2s;
            transition: 2s all ease-in-out .2s;
}

hgroup a h3{
	color: LimeGreen;
	font-weight: bold;
	font-style: normal;

}

h3 a:hover {
	text-decoration:none;
}

hgroup h3{
	position:relative;
	padding: 15px;
	font-style: italic;
	line-height: 1.5;
	text-align: center;
	color: #fff;
  font-weight: 600;
  letter-spacing: -1px;
;}


@media screen and (max-width: 798px) {
	hgroup h3 {
		position:relative;
		padding: 5px;
		font-style: italic;
		line-height: 1.0;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
    }
}

@media screen and (max-width: 998px) {
	hgroup h3 {
		position:relative;
		padding: 5px;
		font-style: italic;
		line-height: 1.0;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
    }
}

@media (max-width: 1042px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        /* border-top: 1px solid transparent; */
        /* box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); */
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: right !important;
				background-color: #434341 !important;;
        /* margin-top: 7.5px; */
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

hgroup .connect{
	color:#66a422;
}
hgroup .connect a{
	color: #66a422;
}
hgroup .connect a:hover{
	text-decoration: none !important;
}


/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 60vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.fade-carousel .slides .slide-1 {
/*  background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
*/  background-image: url("https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/slide1.jpg");

}
.fade-carousel .slides .slide-2 {
/*  background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
    */
    background-image: url("https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/dinner-party-getty.jpg");
}
.fade-carousel .slides .slide-3 {
/*  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
*/
    background-image: url("https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/dinner_party.jpg");
}

/********************************/
/*         Award Sticker        */
/********************************/

.pull-right img {
  width: 120%;
}


/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}

/* Award Sticker */
@media (max-width: 1300px) {
  .pull-right img { width: 110%; }
}

@media (max-width: 991px) {
  .pull-right img { width: 100%; }
}

#gradio {
 background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.93) 47%, rgba(237,237,237,0.89) 71%, rgba(237,237,237,0.89) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.93)), color-stop(71%, rgba(237,237,237,0.89)), color-stop(100%, rgba(237,237,237,0.89)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.93) 47%, rgba(237,237,237,0.89) 71%, rgba(237,237,237,0.89) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.93) 47%, rgba(237,237,237,0.89) 71%, rgba(237,237,237,0.89) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.93) 47%, rgba(237,237,237,0.89) 71%, rgba(237,237,237,0.89) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.93) 47%, rgba(237,237,237,0.89) 71%, rgba(237,237,237,0.89) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
height:100%; margin-top: -30px;
z-index: 1;
}

#pre_foot {
  background-color: #777;
	padding-top: 20px;
  height:315px;
  width:100%;
   z-index: 3;
    background-color: #080d15;
    opacity: 1;
	background-image:url('greg.jpg');
	background-attachment: fixed;
	h1{
		/* text-align:center; */
		color:#fff;
    margin-top: 80px;
    font-size: 90px;
		font-family: $headline;
		font-weight: bold;
	}
}

#join_us {
	text-align: center;
	padding-top: 30px;
	/* padding-bottom: 70px; */
	font-family: $headline;
	font-size: 72px;
	font-weight: bold;
	line-height: 80%;
	color: white;
}

.heads {
	font-family: $headline;
	font-size: 58px;
	font-weight: bold;
  color:#4b4b4b;
  letter-spacing:1px;

}

.heads-tm {
  /* padding-left: 15px; */
  font-family: $headline;
  font-size: 250%;
  font-weight: bold;
  color:#66a422;
  padding-bottom: 20px;
}

.heads-sm {
	padding-left: 15px;
	font-family: $headline;
	font-size: 48px;
	font-weight: bold;
  letter-spacing: 2px;
}


.heads-lt {
	font-family: $headline;
	font-size: 300%;
	font-weight: bold;
	color: $green_text;
  padding-bottom: 40px;

	a {
		color: $green_text;
	}
}

.para {
	font-family: $paragraph;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 1px;
}

#subscribe{
  padding-top:15px;
}

.para_host_party {
  font-family: $paragraph;
  font-size: 25px;
  line-height: 25px;
}
.event-title {
	font-family: $paragraph;
	font-size: 20px;
}

.recent-host {
	background-color: #f3f3f3;
	padding: 25px;
}

#big_head {
  text-align:center;
  font-family: reis;
  font-size: 50px;
}

#small_head {
  text-align:center;
  font-family: novitonova;
}

.learnmore{
	background: #f4f4f4 !important;
	  border: 2px solid #66a422;
	  border-radius: 0;
	  font-family: "Amatic SC", cursive;
		font-size: 38px;
		font-weight: 600;
    padding:0px 0px 0px 0px;
    padding-left: 25px;
    padding-right: 25px;
}

.btn.btn-lg {
  padding: 5px 10px;
}


/*.maroon {
  color: #fff;
  font-family: novitonova;
  font-size: 110px;
  text-shadow: 0px 0px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}*/


.logo, #logo {
  font-family: reis;
  font-size: 60px;
	color: #fff;
	word-spacing: -5px;
  padding-left: 40px;
	span {
		font-size: 25px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    border-radius: 1px;
    vertical-align: middle;
	}
}

@media (min-width: 768px){
.navbar {
  border-radius: 0px;
}
}


.navbar-inverse {
  background: #434341;
  /* border-color: #090909; */
}

.green-btn{
  padding: 20px !important;
  background: #66a422 !important;
  height: 10px !important;
  line-height: 0px !important;
  padding-top: 20px !important;
  max-width: 110px !important;
  margin: 20px !important;
  border-radius: 5px !important;
}


.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #434341 !important;
}

.navbar-inverse {
 border-color: #434341 !important;
  /* border-color: #090909; */
}

.btn-danger {
  color: #fff;
  background-color: #ff4b00;
  border-color: #ff4b00;
}

.heads-lt a {
  color: #66a422;
}

.btn-xlarge {
  padding: 15px 25px;
  margin-bottom: 10px;
     font-size: 22px;
     line-height: normal;
     -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
             border-radius: 8px;
}

.telefon{
  color: #66a422 !important;
  text-decoration: none !important;
}

#thumbthumb{
  position:relative;
  background-color: #FFF;
  min-height: 230px;
  padding-left: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.logo-footer{
  font-family: reis;
  font-size: 80px;
  color: #fff;
  word-spacing: -5px;
}

.logo-footer span, #logo span {
  font-size: 40px;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  border-radius: 1px;
  vertical-align: middle;
  margin-right: -10px;
  margin-left: -18px;
}

.navbar-brand span{
  font-size: 10px;
}

.datepicker.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 0px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  color: #333333;
  font-size: 13px;
  line-height: 1.42857143;

}

.datepicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #000;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 1);
  position: absolute;
}

.selectParent{
    overflow:hidden;
    width: 120px;


}

.selectParent select{
    width: 120px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 5px 5px 7px;
    border: 1px solid #000;
    background: transparent url("http://www.veryicon.com/icon/16/System/iOS7%20Minimal/Arrows%20Down%204.png") no-repeat 90px center;
}

.nas a{
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #4b4b4b;
  letter-spacing: -1px;
}

.nas{
  margin-top:-10px;
}


.alert {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 0px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: 0px;
  color: inherit;
}

.blue{
  color: #fff !important;
  background-color: #4183D7 !important;
  border: #4183D7 !important;
}

.border-hitam{
  background-color: #fff !important;
  border-radius: 0px;
  border-color: #000 !important;
}


/* how it works */



.stepwizard-step p {
    margin-top: 10px;
}

.process-row {
    display: table-row;
}

.process {
    display: table;
    width: 100%;
    position: relative;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 50px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}



.process-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 20%;
}

.process-step p {
    margin-top:10px;

}

.btn-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.pad-bot {
  padding-bottom: 20px;
}

.pad-top {
  padding-top: 20px;
}

.pad-bot-sm {
    padding-bottom: 5px;
}

.pad-top-sm {
    padding-top: 5px;
}
.marge-bot {
  margin-bottom: 20px;
  margin-top: 20px;
}

.marge-left {
  margin-left: 20px;
}

#press-content {
  text-align: justify;
  padding-bottom: 40px;
}

#edit-book-helper {
  text-align: center;
  background-color: #EEE;
  border: 1px solid #EEE;
  border-radius: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.small-font {
  font-size: 12px;
}