<div class = "container">
	<div class ="row">
	  <div class="col-md-4">
		  <%= image_tag "box.jpeg" %>
	  </div>
	  <div class="col-md-8">
		  <h4> Guest name goes here </h4>
		  <h4> Name of event </h4>
		  <h4> Host name </h4>
	  </div>
	</div>
</div>


			<%= render 'form' %>

			<%= link_to 'Back', booking_path(@booking) %>
 