  <div class="container">
    <% if current_host %>
      <div class="col-md-8 col-md-offset-2">
        <%= render 'no_host_login' %>
      </div>
   
    <% else %>

      <%= render 'guest_only' %>

    <% end %>
  </div>
