<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a big day coming up!</h1>
    <p>
      You have a booking scheduled in <%= @day %> day/s. The event with your guest is just around the corner and we wish you a very pleasant evening together. 

    </p>

    <p> 
      Just as a reminder, your booking is with <% @booking.guest.first_name %> <% @booking.guest.last_name %>  
      You can check here: <%= link_to 'here' ,  guest_url(@guest)  %>
    </p>
    <p>Kind regards</p>
    <p>Meet the Danes</p>

  </body>
</html>