<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @guest.username %> has canceled your booking </h1>
    <p>
        We're sorry but <%= @guest.username %> has had to cancel his/her event with you. 
    </p>
  </body>
</html>