<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome! You have been approved as a host by the team at Meet The Danes</h1>
    <p>Your experience is now live on our platform!</p>
    <p>You can view and edit it by signing in via <%= link_to 'Hosts Sign-in Page' , new_host_session_url  %>.</p>
    <p>Also, you'll notice that you can create a "Host Party" via the dropdown menu. This is for one-off events, suitable for celebrations around Christmas or Easter for example.</p>

    <p>Thanks for using Meet the Danes and have a great day!</p>

  </body>
</html>