<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been approved</h1>
    <p>
      Your profile has been approved! You can now begin to create experiences.
    </p>

    <p> 
      Start creating them at  <%= link_to 'Meet the Danes' , root_url %> 
    </p>
    <p>Thanks for using Meet the Danes and have a great day!</p>

  </body>
</html>