<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, unfortunately your profile has been rejected by the team at Meet The Danes.</h1>

    <p>If you are not a robot and would like to give it another try, follow this <%= link_to 'link' , new_host_registration_path %>.</p>

    <p>This time, please ensure that you have filled out your profile and event in a way that would be enticing to potential guests on the platform.</p>

    <p>Thanks for using Meet the Danes and have a great day!</p>

  </body>
</html>