<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been approved as a host by the team at Meet The Danes</h1>
    <p>
      You can now begin to create your experience.
    </p>

    <p> 
      Start creating them at by signing in via <%= link_to 'Hosts Sign-in Page' , new_host_session_url  %> 
    </p>
    <p>Thanks for using Meet the Danes and have a great day!</p>

  </body>
</html>