<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
    p {
      font-family: "Arial";
/*      font-size: 11px;*/
    }

    h1 {
      font-family: "Arial";
/*      font-size: 14px;*/
    }
    </style>
  </head>
  <body>
    <h1><strong>Congratulations! </strong>You have been approved as a host by the team at Meet The Danes.</h1>

    <p>Your experience is now live on our platform!</p>

    <p>You can view and edit it by signing in via <%= link_to 'Hosts Sign-in Page' , new_host_session_url  %>.</p>

    <p>Also, you'll notice that you can create a "Host Party" via the dropdown menu. Host Party is an event created by the host on a date decided by the host. It is suitable either for lunch, dinner or special occasions or maybe even a “cooking class” where you make an open invitation for a specific number of potential guests.</p>

    <p>Thank you for using Meet the Danes we are looking forward to have you with us as a host.</p>

    <p>Kind regards</p>
    <p>Meet the Danes</p>

  </body>
</html>