<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body> 
    <h1>Hello <%= @host.first_name %>. Congratulations! User: <%= @guest.username %> has completed payment for the experience: <%= @booking.experience.title %>.</h1>

    <p>Payment from Meet the Danes will occur three days before the event.</p>

    <!--INSET SCREENSHOT OF BOOKING LINK HERE-->   

    <p>Thanks for using Meet the Danes and have a great day!</p>

  </body>
</html>