<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received a payment<%= @host.username %></h1>
    <p>
      Congratulations! You are now rich(er) as you have recieved payment for the <%= @booking.experience.title %> event. Please consider sharing some of that easily earned cash by clicking the "Donate" button at <%= link_to 'Meet the Danes', new_host_session_url %> 
    </p>
    <p>Thanks for using Meet the Danes and have a great day!</p>
  </body>
</html>