<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received a booking <%= @host.username %></h1>
    <p>
      See? We told you it would work! You have recieved a booking request for the event <%= @booking.experience.title %>
    </p>

    <p> Check out your path to obscene amounts of riches here! 
      <%= link_to 'Meet the Danes' , booking_index_url(@booking)%>

    <p>Thanks for using Meet the Danes and have a great day!</p>
  </body>
</html>