<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @host.username %> You have received a booking.</h1>
    <p>
      A new guest have made a booking request for the event  <%= @booking.experience.title %>
    </p>

    <p>Please see the profile and learn more about the guest: <%= link_to 'here' , guest_url(@guest)  %>.</p>

    <p>You can review the booking details here:<%= link_to 'Meet the Danes' , booking_url(@booking)  %> where you have to either reject or accept the request. You can communicate with the guest by using the message text box.</p>

    <p>If you hopefully choose to accept the request - the guest will receive your invitation and be asked to make the payment. You will receive further information when the guest has paid.</p>

    <p>Thanks for using Meet the Danes.</p>

    <p>Kind regards <br>
       Meet the Danes </p>
  </body>
</html>