<footer class = "footer">
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Find a Host", "#" %></li>
			<li><%= link_to "Be a Host", how_to_be_a_host_path %></li>
			<li><%= link_to "Terms of Service", terms_of_service_path %></li>
		</ul>
	</nav>
</footer>