<footer class = "footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      <p> Connect with us on Social </p>
      </div>
        <div class="col-md-4">
        <p> Quick Links </p>
        </div>
          <div class="col-md-4">
          <p style="float:right"> Project NASI </p>
          </div>
    </div>   

        <div class="row">

          <div class="col-md-4">      
            <ul class="list-inline social-buttons">
              <li><a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a></li>
              <li><a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a></li>
              <li><a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a></li>
              <li><a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a><li>
            </ul>
          </div>

            <div class="col-md-4">
              <!-- 	<nav>
               --><ul>
              			<li><%= link_to "About", about_path %></li>
              			<li><%= link_to "Find a Host", experiences_path %></li>
              			<li><%= link_to "Be a Host", how_to_be_a_host_path %></li>
              			<li><%= link_to "Terms of Service", terms_of_service_path %></li>
              		</ul>
              <!-- 	</nav> -->
            </div>

              <div class="col-md-4">
                <ul>
                  <li>Copyright 2015</li>
                  </ul>

        </div>  
          
  </div> 
</footer>